{% extends 'base/web-base.html' %}
{% load static %}
{% block container %}



    <section class="w-full h-screen bg-gradient-to-t  from-[rgb(198,225,248)] to-[#79e5fb]">
        <div class="header h-[10vh]     flex justify-end gap-4 pr-20 items-center">
            <a class="text-[15px] font-semibold ml-6  hover:text-white " href="{% url 'student:sprofile' %}">Profile</a>
            <a class="text-[15px] font-semibold ml-6  hover:text-white " href="{% url 'web:updatepass' %}">Update password</a>
            <a class="text-[15px] font-semibold ml-6  hover:text-white " href="{% url 'web:logout' %}">Logout</a>

            

        </div>
        
        <div class="w-full h-auto">

            <h1 class=" text-white font-bold text-center  text-[45px]">DASHBORD</h1>

            <div class=" w-[75%] mx-auto mt-14 flex gap-12 flex-wrap justify-center">
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:sfood' %}">FOOD</a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:sslot' %}">WASH </a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:sfee' %}">FEE </a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:scomplaint' %}">COMPLAINT</a>

                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:sattendance' %}">ATTENDENCE</a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:scheck' %}">CHECK IN/CHECK OUT</a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:salert' %}">ALERTS</a>
                <a class=" h-[2cm] w-[14cm] block bg-orange-50 text-center pt-[24px] rounded-xl hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]  " href="{% url 'student:snotification' %}">NOTIFICATION</a>

            </div>

        </div>
    </section>
    


    {% endblock %}